body {
    margin: 0;
    text-align: center; 
    font: 20px Helvetica, sans-serif;
    color: rgb(48, 35, 56); 
}

h1 {
    margin: 0.5em;
}

.container {     
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 auto;
    background: rgb(217, 205, 241);
}

.board {
    box-sizing: border-box;
    margin: 0.5em auto;
    width: 9em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-areas: "status status status";
    justify-content: center;
    grid-gap: 0;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.box {
    box-shadow: 0 0 0 3px rgb(161, 141, 200);
    display: flex;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    background: rgb(217, 205, 241);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box:focus {
    background: rgb(203, 176, 253);
}
.status {
    margin: 0.5em 0;
    text-align: left;
    grid-area: status;
}

.disabled {
    pointer-events: none;
}

.resetBtn {
    margin: 0.5em auto;
    width: 7.5em;
    background: rgb(78, 56, 92);
    font-size: 1.2rem;
    font-weight: 700;
    color:rgb(229, 236, 250);
    padding: 0.4em 0.9em;
    border-radius: 0.2em;
}

.resetBtn:hover {
    background: rgb(110, 0, 179);
    color: rgb(243, 224, 255);
    box-shadow: 0 0 15px 2px whitesmoke;
    text-shadow: 0 0 1px whitesmoke;
}
