body {
    margin: 0;
    text-align: center; 
    font: 20px Helvetica, sans-serif;
    color: rgb(48, 35, 56); 
}

.container {     
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 auto;
    background: rgb(217, 205, 241);
}

.board {
  box-sizing: border-box;
  margin: 1em auto;
  width: 9em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  grid-gap: 0;
}
.box {
  box-shadow: 0 0 0 3px rgb(161, 141, 200);
  margin: auto;
  display: flex;
  width: 3em;
  height: 3em;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  background: rgb(217, 205, 241);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.status {
    margin: 0.5em 0 0;
}
button {
    margin: 0.5em auto;
    cursor: pointer;
    background: rgb(48, 35, 56);
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    color:rgb(229, 236, 250);
    padding: 0.4em 0.9em;
    border-radius: 0.2em;
}
